@charset "utf-8";

body {
    background: url(../img/bg_img.jpg) no-repeat center/cover fixed;
}

main {
    padding-top: 150px;
}

main>section {
    margin-bottom: 10px;
}

/* 영상 */
.youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bread {
    background: var(--bread);
    width: var(--width);
    height: 80px;
    border-radius: 50px 50px 10px 10px;
}

#recommend {
    font-family: 'yg-jalnan', serif;
    font-size: var(--font36);
    color: white;
    line-height: 80px;
}

.youtube-video {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 56.25%;
    margin: 10px 0;
}

.youtube-video>iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px 0;
    border-radius: 10px 10px 20px 20px;
    background: var(--bread);
}

.sns-item {
    display: flex;
    align-items: center;
}

.sns-icon {
    margin: 5px 3px 0 0;
    width: 70px;
}

.sns-text {
    font-family: 'yg-jalnan', serif;
    font-size: var(--font16);
    color: white;
}

.sns-text p {
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    background: white;
    font-family: 'NanumSquareRound', serif;
    font-size: var(--font12);
    font-weight: bold;
    color: var(--black);
}

/* 캐러셀 */
.carousel>.container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-list {
    display: flex;
    object-fit: cover;
}

.carousel-item {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#btn-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 35px;
    height: 40px;
    border: 0;
    background: url(../img/btn_prev.png) no-repeat;
    transform: translateY(-50%);
}

#btn-next {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 35px;
    height: 40px;
    border: 0;
    background: url(../img/btn_next.png) no-repeat;
    transform: translateY(-50%);
}

/* 주문 */
.order>.container {
    display: flex;
    gap: 10px;
}

.order-item>img {
    width: calc(var(--width)/2 - 5px);
    border-radius: 20px;
}